.wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.profile {
    margin: 0 64px;
}

.name {
    font-size: 22px;
}

.wins {
    font-size: 16px;
    color: limegreen;
}

.losses {
    font-size: 16px;
    color: red;
}

.winnerName {
    font-size: 22px;
}

.emoji {
    font-weight: bold;
    font-size: 120px;
}

